<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.model.mapper.distribution.SecondUpdateMapper">
	<update id="saveSecond" parameterType="Second">
		update second set sdname=#{sdname} ,sddescription=#{sddescription} where sdid=#{sdid}
	</update>
</mapper>