<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.model.mapper.distribution.WarehouseMapper">
	<insert id="insertWarehouse" parameterType="Warehouse_warrant">
		insert into warehouse_warrant (meid,wcount,wdate,sid,waccount) values(#{meid},#{wcount},#{wdate},#{sid},#{waccount})
	</insert>
</mapper>